@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/ibm-plex-sans');

:root {
  --text-color: #082f49; /* sky-950 */
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--text-color);
}
